@import url("https://db.onlinewebfonts.com/c/f2a25073dcf1b85d9f937e8bd62b05a9?family=Frick+0.3");
@import url("https://example.com/fonts/ClarityCity.woff2");
body{
  background: linear-gradient(to left, rgb(83, 0, 83), black);
}
.sign{
  color: white;
  position: relative;
  font-family: 'ClarityCity', sans-serif;
  top: 50px;
  text-align: center;
  font-size: 20px;
  user-select: none;
}
.ter{
  color: white;
  position: relative;
  font-family: "Frick 0.3", sans-serif;
  font-size: 20px;
  top: 80px;
  text-align: center;
  user-select: none;
}
.yak{
  color: white;
  position: relative;
  font-family: "Frick 0.3", sans-serif;
  font-size: 20px;
  top: 52px;
  text-align: center;
  user-select: none;
  user-select: none;
}
.email{
  color: white;
  font-size: 17px;
  font-family: 'ClarityCity', sans-serif;
  position: relative;
  text-align: center;
  top: 60px;
  right: 99px;
  user-select: none;
  
}
.email_input{
  background: transparent;
  position: relative;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  top: 50px;
  left: 607px;
  border: 2px solid gray;
  outline: none;
  color: white;
  font-size: 15px;
}
.email_input:focus{
  border: 3px solid rgb(122, 15, 154);
}
.password{
  color: white;
  font-size: 17px;
  font-family: 'ClarityCity', sans-serif;
  position: relative;
  text-align: center;
  top: 50px;
  right: 115px;
  user-select: none;
  
}
.password_input{
  background: transparent;
  position: relative;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  top: 33px;
  left: 607px;
  border: 2px solid gray;
  outline: none;
  color: white;
  font-size: 15px;
}
.password_input:focus{
  border: 3px solid rgb(122, 15, 154);
}
.sign_in{
  background-color: rgb(5, 142, 5);
  position: relative;
  width: 300px;
  height: 45px;
  border-radius: 5px;
  outline: none;
  border: 0px;
  top: 100px;
  left: 304px;
  color: white;
  font-family: 'ClarityCity', sans-serif;
  font-size: 17px;
}
.or{
  font-size: 14px;
  position: relative;
  color: white;
  font-family: 'ClarityCity', sans-serif;
  text-align: center;
  top: 110px;
  user-select: none;
}
.line_or_1{
  background-color: gray;
  position: relative;
  width: 130px;
  height: 1px;
  top: 88px;
  left: 610px;
  user-select: none;
}
.line_or_2{
  background-color: gray;
  position: relative;
  width: 127px;
  height: 1px;
  top: 87px;
  left: 780px;
  user-select: none;
}
.google{
  background-color: rgb(68, 67, 67);
  position: relative;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  top: 115px;
  left: 609px;
  color: white;
  font-family: 'ClarityCity', sans-serif;
  font-size: 15px;
}
.forget_password{
  color: rgb(0, 94, 255);
  font-family: 'ClarityCity', sans-serif;
  position: relative;
  font-size: 15px;
  text-decoration: none;
  left: 483px;
  bottom: 88px;
}
.dont_account{
  color: white;
  position: relative;
  text-align: center;
  font-family: 'ClarityCity', sans-serif;
  font-size: 15px;
  top: 120px;
}
.sign_up{
  color: rgb(0, 94, 255);
  position: relative;
  font-family: 'ClarityCity', sans-serif;
  text-decoration: none;
}